.grid {
	height: 20px;
	width: 20px;
	display: inline-block;
	background-color: #008000;
	
}

.gridBorder {
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin-right: -3px;
}

.color-change{
	background-color: #FFFF66;
}

.fade-to-black{
	background-color: #000000;
	opacity: 0.1;
}

.row {
	text-align: center;
	margin-bottom: -4px;
}

h1 {
	background-color: #FFFFFF;
	font-weight: bold;
	font-family: arial, sans-serif;
	text-align: center;
}

#main {
	background-color: gray;
	margin-top: 10px;
}

#options {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 16pt;
	font-weight: bold;
}
